@import "theme";
@import "break-points";


.teams {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
  padding: 100px 0 0 0px;

  @media screen and (min-width: $lg) {
    text-align: left;
  }
}


.personContainer {
  display: block;
  margin: 0 auto 50px;
  max-width: 270px;

}

.personContent {

  margin-bottom: 50px;
  margin-top: 20px;
  text-align: center;
}

.personContent > h4 {
  display: block;
  font-weight: 400;
  font-size: 22px;
  color: #2d3033;
  margin-top: 10px;
  margin-bottom: 10px;

}

.personContent > h5 {
  display: block;
  text-align: center;
  color: $accent-color;
  font-size: 13px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 20px;
  text-transform: uppercase;


}

.personContent > p {
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 22.4px;
  color: #6c7279;
  margin: 0 0 10px;


}

.informationContainer {
  display: flex;
  justify-content: center;


}

.teamsBottom {
  border: 1px solid #e8ecee;
  border-radius: 2px;
  color: #c6cacc;
  display: block;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  margin-right: 10px;
  text-align: center;
  width: 40px;


}




