@import "theme";
@import "break-points";

.testimonials {
  overflow: hidden;
  background-color: #53354A;
  margin-bottom: 100px;

}

#testimonialsItem {
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-end;

}

.testimonialsPhoto {
  width: 50%;
  height: 500px;
  right: 0;

}

.testimonialsImage {
  position: absolute;
  height: 500px;
  width: 50%;
  left: 0;


}

#testimonialsContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px  100px  0 100px;
  width: 50%;

}

.testimonialsText {

  font-family: "Cardo", sans-serif;
  font-style: italic;
  font-size: 36px;
  line-height: 1.2;
  color: white;
  margin-bottom: 20px;

}

.testimonialsAuthor {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}

.logo {
  margin-left: 0px;
}

.buttonSlider{
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.buttonSlider > input{
  margin: 0 6px;
  appearance: none;
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  border: 0;
  border-radius: 50%;

}

.buttonSlider > input >[type=radio].activeRadioButton {
  background: rgba(255, 255, 255, 1);
  cursor: default;
}

@media screen and (min-width: $hl){
  .buttonSlider{
    margin-bottom: 10px;
  }
}
@media screen and (max-width: $hl){
  .buttonSlider{
    margin-bottom: 20px;
  }
}


@media screen and (max-width: $lg) {
  .testimonialsPhoto {
    width: 100%;
  }
  #testimonialsContent {
    padding: 0 0 0 20px;
    width: 100%;
  }
  .testimonialsImage {
    width: 100%;
  }
  .logo {
    margin-left: 25px;
  }
  .testimonialsText {
    margin-top: 10px;
    font-size: 26px;
    margin-bottom: 40px;
  }

  .container {
    padding: 0;
  }
  .testimonialsAuthor {
    margin-bottom: 10px;
  }
  .buttonSlider{
    margin-top: 75px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: $md) {
  .testimonialsPhoto {
    width: 100%;
  }
  .logo {
    margin-left: 25px;
  }
  #testimonialsContent {
    padding: 0 0 0 20px;
    width: 100%;
  }
  .testimonialsImage {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .testimonialsText {

    margin-top: 10px;
    font-size: 26px;
    margin-bottom: 40px;
  }
  .container {
    padding: 0;
  }
  .buttonSlider{
    margin-top: 75px;
    margin-bottom: 20px;
  }
}




